@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: white;
	border: none;
}
body {
	position: relative;
	background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(../img/tx_state_background_img.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
/*============================================================================================*/
#navigation-section {
	overflow: auto;
	/*height: 45px;*/
}
#txstate-bobcat {
	margin-left: 3vw;
}
#navigation-wrapper {
	margin-top: 20px;
	float: right;
	padding-top: 15px;
}
#navigation-wrapper a {
	text-decoration: none;
	margin-left: 10px;
}
#navigation-wrapper a:last-child {
	/*margin-right: 20px;*/
	margin-right: 2vw;
}
#navigation-wrapper a:hover {
	color: #F2E6D9;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}
/*============================================================================================*/
#login-section {
	text-align: center;
	margin-top: 4vw;
}
#username-icon, #password-icon {
	font-size: 25px;
	margin-right: 10px;
}
#username-input-text, #password-input-text {
	color: black;
}


#login-title {
	font-family: 'Roboto', sans-serif;
}
#username-wrapper {
	margin: 1.2vw 0 0 0;
}
#password-wrapper {
	/*margin: 15px 0 0 0;*/
	margin: 1.2vw 0 0 0;
}
#forgot-password:after {
	content: "\A";
	white-space: pre;
}
#get-started {
	font-family: 'Mukta', sans-serif;
	color: black;
	width: 245px;
	margin: 2vw 0 2vw 38px;
}
#get-started:hover {
	background-color: #F2E6D9;
	cursor: pointer;
}
#create-account-need-help-wrapper {
	/*margin-top: 20px;*/
	margin-top: 1.4vw;
}
#keep-logged-in-option {
	display: inline-block;
	margin-right: 5.5vw;
	font-family: 'Mukta', sans-serif;
	font-size: 18px;
}
#forgot-password {
	font-family: 'Mukta', sans-serif;
	font-size: 18px;
}
#create-account {
	/*margin-right: 55px;*/
	margin-right: 5.5vw;
	font-family: 'Mukta', sans-serif;
	font-size: 15px;
	font-weight: normal;
}
#need-help {
	font-family: 'Mukta', sans-serif;
	font-style: 15px;
	font-weight: normal;
}
/*============================================================================================*/
footer {
	/*background-color: blue;*/
	position: absolute;
	overflow: auto;
	width: 100vw;
	height: 5vw;
	bottom: 0;
	/*margin-top: 45px;*/
	font-family: 'Mukta', sans-serif;
}
#footer-list-wrapper {
	/*margin-left: 35px;*/
	margin: 2vw 0 0 3vw;
}
#footer-list-wrapper li {
	display: inline-block;
	/*margin-right: 20px;*/
}
#footer-list-wrapper li {
	margin-right: 1vw;
}
#copyright {
	position: absolute;
	display: inline-block;
	/*right: 35px;*/
	/*top: 0;*/
	right: 3vw;
}